@import "compass/css3";

* {
  @include box-sizing(border-box); 
}

h1, h2, h3, p {
	font-family: 'Oxanium', cursive;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: -5px;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
  //background: rgba(255,255,255,10%);
  //border-radius: 10px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 0px;
  overflow: hidden;
}

body {
    background: linear-gradient(201deg, #0038a8, #000000);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}
@keyframes AnimationName {
    0%{background-position:69% 0%}
    50%{background-position:32% 100%}
    100%{background-position:69% 0%}
}

.module {
  width: 97%;
  min-height: 100px;
  background: rgba(255,255,255,5%);
  border-radius: 6px;
  position: relative;
  float: left;
  padding: 10px;
  //padding-bottom: 30px;
  //margin-right: 4%;
  margin-bottom: 3%;
  box-shadow: 0 1px 3px rgba(black, 0.2);
}
 
.come-in {
  transform: translateY(150px);
  animation: come-in 1s ease forwards;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.in-box {
	margin-top: 0px;
	margin-left: 10px;
	margin-bottom: -5px;
}

img {
  border-radius: 6px;
  margin-top: 0px;
  margin-left: 9px;
  margin-bottom: 4px;
}